<?xml version="1.0" encoding="UTF-8"?>
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">
       <Properties>    
<Property name="basePath">.\logs</Property>
</Properties>
 
  <Appenders>
      <RollingFile name="Console" fileName="/log/logger.log" filePattern="${basePath}/logs-%d{yyyy-MM-dd}.log">
     <PatternLayout pattern="%d{yyyy-MM-dd} %d{HH:mm:ss} [%t] %-5level %logger{36} - %msg%n"/>
      <SizeBasedTriggeringPolicy size="10000" />
          </RollingFile>
    <Console name="Console" target="SYSTEM_OUT">
      <PatternLayout pattern="%d{yyyy-MM-dd} %d{HH:mm:ss} [%t] %-5level %logger{36} - %msg%n"/>
    </Console>
  </Appenders>
  <Loggers>
     <Root level="trace">
      <AppenderRef ref="Console"/>
    </Root>
  </Loggers>
</log4j:configuration>