<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="ERROR">
<Properties>
public static Properties prop;
prop=new Properties();
String projectPath = System.getProperty("user.dir");
FileInputStream ip=new FileInputStream(projectPath+"/UseCaseConfigFile/Config.properties");
			prop.load(ip);
<Property name="projectPath">./logs</Property>
</Properties>
<Appenders>
<RollingFile name="File" fileName="${projectPath}/executionlogs.log" filePattern="${projectPath}/executionlogs-%d{yyyy-MM-dd}.log">
<PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
<SizeBasedTriggeringPolicy size="1000000" />

</RollingFile>
<Console name="Console" target="SYSTEM_OUT">
<PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
</Console>
</Appenders>
<Loggers>
<Root level="trace">
<AppenderRef ref="File"/>
log4j2.appender.file.Append=false
</Root>
</Loggers>
</Configuration>



